@font-face {
    font-family: "SFProText-Regular";
    src: local("SFProText-Regular"),
        url("../../fonts/SFProText-Regular.ttf") format("truetype");
}

.span-estado-store {
    font-family: "SFProText-Regular";
    height: 20px;
    line-height: 20px;
    width: 100%;
    margin-right: 62px;
    margin-top: 22.42px;
    margin-left: 20px;
    font-weight: 600;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 18px;
}

.headers-super-container {
    display: flex;
    width: 100%;
}

.headers-container0 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 29px;
    width: 19.4%;
}

.headers-container1 {
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 50.3%;
}

.headers-container2 {
    cursor: pointer;
    display: flex;
    align-items: start;
}

.headers {
    font-family: 'SFProText-Regular' !important;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.headers-widths-id {
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    width: 108px;
    padding-left: 10px;
    margin: 1px;
    height: 32px;

}

.headers-widths-ciudad {
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    margin: 1px;
    width: 108px;
    height: 32px;
    align-items: center;
    padding-left: 29px;
}


.headers-widths-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108px;
    height: 32px;
}

.headers-widths-impacto {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 108.73px;
    height: 32px;
    padding-left: 1.5px;
}